.bloop/
.metals/
null/
KiCad/PMod_ADDAC/IO.sch-bak
KiCad/PMod_ADDAC/PMod_ADDAC.sch-bak
KiCad/PMod_ADDAC/PMod_ADDAC.sch-bak
KiCad/PMod_ADDAC/power.sch-bak
KiCad/PMod_ADDAC/PMod_ADDAC.sch-bak
KiCad/PMod_ADDAC/R2R.sch-bak
KiCad/PMod_ADDAC/SDADC.sch-bak
