.bloop/
.bsp/
.idea/
.metals/
.vscode/
.scalafmt.conf
null/
**/project/
**/target/
*.json
*.json
*.class
project/project/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
project/project/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
project/project/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
project/project/project/target/streams/_global/update/_global/streams/out
project/project/project/target/streams/compile/_global/_global/compileOutputs/previous
project/project/project/target/streams/compile/dependencyClasspath/_global/streams/export
project/project/project/target/streams/compile/exportedProducts/_global/streams/export
project/project/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
project/project/project/target/streams/compile/incOptions/_global/streams/out
project/project/project/target/streams/compile/managedClasspath/_global/streams/export
*.class
*.cache
*.json
target/streams/compile/packageBin/_global/streams/out
target/streams/runtime/managedClasspath/_global/streams/export
target/streams/runtime/internalDependencyAsJars/_global/streams/export
target/streams/runtime/externalDependencyClasspath/_global/streams/export
target/streams/runtime/fullClasspathAsJars/_global/streams/export
target/streams/runtime/exportedProductJars/_global/streams/export
target/streams/runtime/dependencyClasspathAsJars/_global/streams/export
target/streams/compile/packageBin/_global/streams/output
target/streams/compile/packageBin/_global/streams/inputs
target/streams/compile/managedClasspath/_global/streams/export
target/streams/compile/incOptions/_global/streams/out
target/streams/compile/externalDependencyClasspath/_global/streams/export
target/streams/compile/exportedProducts/_global/streams/export
target/streams/compile/exportedProductJars/_global/streams/export
target/streams/compile/dependencyClasspath/_global/streams/export
target/streams/compile/compileIncremental/_global/streams/out
target/streams/compile/_global/_global/discoveredMainClasses/data
target/streams/compile/_global/_global/compileOutputs/previous
target/scala-2.13/classes/XADC.class
target/scala-2.13/classes/xadc_wiz_0$$anon$1.class
target/scala-2.13/update/update_cache_2.13/inputs
target/scala-2.13/update/update_cache_2.13/output
target/scala-2.13/classes/xadc_wiz_0.class
target/scala-2.13/zinc/inc_compile_2.13.zip
target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/output_dsp
target/scala-2.13/classes/XADC$delayedInit$body.class
target/scala-2.13/classes/XADC$.class
target/scala-2.13/classes/XADC$$anon$1.class
target/scala-2.13/-name-_2.13-0.1.0.jar
project/target/streams/runtime/managedClasspath/_global/streams/export
project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
project/target/streams/runtime/fullClasspath/_global/streams/export
project/target/streams/runtime/exportedProducts/_global/streams/export
project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
project/target/streams/runtime/dependencyClasspath/_global/streams/export
project/target/streams/compile/managedClasspath/_global/streams/export
project/target/streams/compile/incOptions/_global/streams/out
project/target/streams/compile/externalDependencyClasspath/_global/streams/export
project/target/streams/compile/exportedProducts/_global/streams/export
project/target/streams/compile/dependencyClasspath/_global/streams/export
project/target/streams/compile/bloopGenerate/_global/streams/out
project/target/streams/compile/_global/_global/compileOutputs/previous
project/target/streams/_global/update/_global/streams/out
project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
project/target/config-classes/$eee962b0ab804b67a221.class
project/target/config-classes/$eee962b0ab804b67a221.cache
project/target/config-classes/$eee962b0ab804b67a221$.class
project/target/config-classes/$e3b8786ce7a975810c90.class
project/target/config-classes/$e3b8786ce7a975810c90.cache
project/target/config-classes/$e3b8786ce7a975810c90$.class
project/target/config-classes/$ddc380160af93fbd2ca6.class
project/target/config-classes/$ddc380160af93fbd2ca6.cache
project/target/config-classes/$ddc380160af93fbd2ca6$.class
project/target/config-classes/$4ee716fcf341dc94120f.class
project/target/config-classes/$4ee716fcf341dc94120f.cache
project/target/config-classes/$4ee716fcf341dc94120f$.class
project/target/active.json
project/project/target/streams/runtime/managedClasspath/_global/streams/export
project/project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
project/project/target/streams/runtime/fullClasspath/_global/streams/export
project/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
project/project/target/streams/runtime/exportedProducts/_global/streams/export
project/project/target/streams/runtime/dependencyClasspath/_global/streams/export
project/project/target/streams/compile/managedClasspath/_global/streams/export
project/project/target/streams/compile/incOptions/_global/streams/out
project/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
project/project/target/streams/compile/exportedProducts/_global/streams/export
project/project/target/streams/compile/dependencyClasspath/_global/streams/export
project/project/target/streams/compile/bloopGenerate/_global/streams/out
project/project/target/streams/compile/_global/_global/compileOutputs/previous
project/project/target/streams/_global/update/_global/streams/out
project/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
project/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
project/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
project/project/target/config-classes/$5aea38801278cbe7492b.class
project/project/target/config-classes/$5aea38801278cbe7492b.cache
project/project/target/config-classes/$5aea38801278cbe7492b$.class
project/project/target/config-classes/$2fe8f8437d2e732c264e.class
project/project/target/config-classes/$2fe8f8437d2e732c264e.cache
project/project/target/config-classes/$2fe8f8437d2e732c264e$.class
project/project/project/target/streams/runtime/managedClasspath/_global/streams/export
project/project/project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
project/project/project/target/streams/runtime/fullClasspath/_global/streams/export
project/project/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
project/project/project/target/streams/runtime/exportedProducts/_global/streams/export
project/project/project/target/streams/runtime/dependencyClasspath/_global/streams/export
project/project/project/target/streams/compile/managedClasspath/_global/streams/export
project/project/project/target/streams/compile/incOptions/_global/streams/out
project/project/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
project/project/project/target/streams/compile/exportedProducts/_global/streams/export
project/project/project/target/streams/compile/dependencyClasspath/_global/streams/export
project/project/project/target/streams/compile/_global/_global/compileOutputs/previous
project/project/project/target/streams/_global/update/_global/streams/out
project/project/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
project/project/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
project/project/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
project/project/project/target/config-classes/$d1f2407222e58b5e92fc.class
project/project/project/target/config-classes/$d1f2407222e58b5e92fc.cache
project/project/project/target/config-classes/$d1f2407222e58b5e92fc$.class
project/project/project/project/target/config-classes/$9de8df71986a36257a2a.class
project/project/project/project/target/config-classes/$9de8df71986a36257a2a.cache
project/project/project/project/target/config-classes/$9de8df71986a36257a2a$.class
project/project/.bloop/fagprojekt2022_grp9-build-build.json
project/.bloop/fagprojekt2022_grp9-build.json
firrtl_black_box_resource_files.f
*.jar
*.cache
